
   
  * {
    padding: 0px;
    margin: 0px;
  }

  body {
    padding: 0px;
    margin: 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  
  .header {
    display: flex;
    padding: 10px;
  }
  
  .title {
    text-align: center;
    padding: 30px;
    margin-top: 50px;
    color: #23262A;
    font-size: 3rem;
    font-family: "Playfair Display", serif; 
  }

  .icon{
    margin-top: 4rem;
    margin-bottom: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .image{
    width:70%;
    height: auto;
  }

  .paragraph{
    text-wrap: wrap;
    min-width: 50%;
    max-width: 60%;
  }

  .link{
    font-size: 2rem;
    color: #23262A;
  }

  .link:hover{
    color: #1d4d8d;
    font-size: 2.5rem;
  }

  p{
    font-size: 1.3rem;
    text-align: justify;
    margin-bottom: 10px;
  }

  .podcast{
    margin-top: 7rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .music{
    margin: 0;
    max-width: 10%;
    height: auto;
  }

  .custom-audio {
    min-width: 50%;
    max-width: 70%; 
    background-color: transparent; 
    border-radius: 5px; /* Add rounded corners */
    padding: 1px; /* Add padding */
  }
  
  .custom-audio::-webkit-media-controls-panel {
    background-color: transparent;
  }
  
  .custom-audio::-webkit-media-controls-play-button {
    background-color: #f2f2f2;
  }
  
  .custom-audio::-webkit-media-controls-volume-slider {
    background-color: #23262A; /* Set color of volume slider */
  }
  
  